
$max-width: 970px;
// bower:scss
@import "bourbon/app/assets/stylesheets/_bourbon.scss";
@import "neat/app/assets/stylesheets/_neat.scss";
// endbower
@import "../fonts/fonts";


$yellow: #ffd475;
$link: #feedbc;
$brun: #867C5F;
$red : #9c110c;
$green: #78970B;
$alt-yellow: #FFEEBD;

.clearfix{
  clear:both;
  float:none;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html{
  padding: 0;
  margin: 0;
  height: 100%;
  background: radial-gradient(ellipse at center,#ea1b25 0%,  #c1131a 10%, #670001 70%)
}
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
div.container{
    @include outer-container;
}

div.header{
  background: url("../images/woodboard.png") center center no-repeat;
  max-width: 950px;
  height: 110px;
  margin: 10px auto 35px auto;
  padding-top: 48px;

  ul.nav{
    list-style: none;
    li{
      display: inline-block;
      width: 140px;
      text-align: center;
      a{
        font-family: "Toonish", Arial, Helvetica, sans-serif;
        color: $brun;
        font-size: 18px;
        letter-spacing: 0.05em;
        text-decoration: none;
        text-shadow: 1px 1px 1px #30160A;
        @include transition(all 0.2s ease);

        &:hover{
          color: $alt-yellow;
          text-shadow: 0px 0px 20px #FFFFFF;
        }
      }
      &.spacer{
        width: 300px;
      }
    }
  }
}


div.footer{

  &>div.container{
    border-top: 1px solid $alt-yellow;
    margin-bottom:20px;
    &>div{
      @include span-columns(6);
      margin-top: 10px;
      color: $alt-yellow;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 11px;
      line-height: 14px;
      p{
        margin: 0;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
}


@media screen and (max-width: 1024px) {
  div.header{
    background: url("../images/woodboard.png") center center no-repeat;
    max-width: 950px;
    height: 110px;
    margin: 0 auto 35px auto;
    padding-top: 135px;

    ul.nav{
      margin:0;
      padding:0;
      li{
        width: 25%;
        float:left;
        &.spacer{
          display:none;
        }
      }
    }
  }

  div.footer{
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  div.footer{
    padding: 0 15px;
    &>div.container{
      &>div{
        @include span-columns(12);
        color: $alt-yellow;
        font-family: Arial, Helvetica, sans-serif;
        p{
          text-align: center;
        }
        &:last-child{
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  div.header{
    background: url("../images/woodboard.png") center center no-repeat;
    max-width: 950px;
    height: 110px;
    margin: 0 auto 75px auto;
    padding-top: 135px;

    ul.nav{
      margin:0;
      padding:0;
      li{
        width: 50%;
        padding: 5px 0;
        float:left;
        &.spacer{
          display:none;
        }
      }
    }
  }
}
.animate-repeat {
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}

.animate-up {
  list-style:none;
  box-sizing:border-box;
}

.animate-up.ng-move,
.animate-up.ng-enter,
.animate-up.ng-leave {
  transition:all linear 0.5s;
}

.animate-up.ng-leave.ng-leave-active,
.animate-up.ng-move,
.animate-up.ng-enter {
  opacity:0;
  transform: translate3d(0, 100%, 0);
  overflow:hidden;
}

.animate-up.ng-leave,
.animate-up.ng-move.ng-move-active,
.animate-up.ng-enter.ng-enter-active {
  opacity:1;
  transform: translate3d(0,-0%,0);
  overflow:hidden;
}


.animate-right {
  list-style:none;
  box-sizing:border-box;
}

.animate-right.ng-move,
.animate-right.ng-enter,
.animate-right.ng-leave {
  transition:all linear 0.5s;
}

.animate-right.ng-leave.ng-leave-active,
.animate-right.ng-move,
.animate-right.ng-enter {
  opacity:0;
  transform: translate3d(100%, 0, 0);
  overflow:hidden;
}

.animate-right.ng-leave,
.animate-right.ng-move.ng-move-active,
.animate-right.ng-enter.ng-enter-active {
  opacity:1;
  transform: translate3d(0,-0%,0);
  overflow:hidden;
}

@import "home-screen";
@import "carte-screen";
@import "menu-screen";
@import "order-screen";
@import "contact-screen";
