

<div class="head">Votre panier</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
    <div class="table ngCart cart">
        <div class="row" ng-repeat="item in ngCart.getCart().items track by $index" ng-click="ngCart.removeItemById(item.getId())">
            <div align="right">{{ item.getQuantity() | number }}x</div>
            <div class="name">{{ item.getName() }}<span ng-if="item._data"><br/>{{item._data}}</span></div>
            <div align="right" class="price">{{ item.getTotal() | currency }}</div>
            <p class="clearfix"></p>
        </div>
    </div>
</div>

<div class="total"><span>Total</span> {{ ngCart.totalCost() | currency }} </div>

<a ng-href="commander" ng-class="{'not-active' : !ngCart.getTotalItems()}"><img src="images/valid.png" alt="Valider"/></a>

<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>
