<div class="contact-screen">
  <div class="leftbar">
    <div class="infos">
      <img src="./images/info.png" alt="Informations & Contact" />
    </div>
    <div class="adresse">
      <span>159 Bd Jean Jaurès</span><br/>
      37300 Joué-lès-tours
    </div>
    <div class="phone">
      02 47 67 15 15
    </div>
    <div class="horaires">
        <div class="bloc">
            du lundi au dimanche<br/>
            11h30-13h30* / 18h-22h
        </div>
        <span>* Nous sommes fermés les samedis et dimanches midi</span>
    </div>
    <div class="livraison">
        <div class="bloc">
            Zones de livraison
        </div>
        <div class="villes">
            <p>Joué-Lès-Tours</p>
            <p>Chambray-Lès-Tours</p>
            <p>Ballan-Miré</p>
            <br/>
            <p>Tours<br/><small>Les Deux Lions / La Bergeonnerie</small></p>
            <p>Chambray-Lès-Tours<br/><small>Fontaines Blanches / Les Perriers</small></p>
        </div>
    </div>


  </div>
  <div class="content">
    <div class="gmaps" id='gmap_canvas'>&nbsp;</div>
  </div>

  <div class="clearfix"></div>
</div>
