<div class="home-screen">
  <div class="leftbar">
    <div class="bienvenue">
      Bienvenue
    </div>
    <div class="horaires">
      Notre restaurant<br/>
      vous accueille tous les jours<br/>
      de 11h30 à 13h30<br/>
      et de 18h à 22h
    </div>
    <div class="salle">
      Salle de restauration<br/>
      à emporter<br/>
      livraison à domicile
    </div>
    <div class="phone">
      02 47 67 15 15
    </div>
    <div class="adresse">
      <span>159 Bd Jean Jaurès</span><br/>
      37300 Joué-lès-tours
    </div>
  </div>
  <div class="content">
    <div class="img">
      <a ng-href="carte"><img src="./images/banner_1.png"></a>
    </div>
    <div class="ct-block">
      <div class="livraison">
        <img src="./images/home_infos.png">
        <a ng-href="contact"><img src="./images/btn_infos.png"></a>
      </div>
      <div class="news">
        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

</div>
